<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/wlogo.css">
    <link rel="stylesheet" type="text/css" href="/css/test/test.css">
    <script type="text/javascript" src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/test/test-page.js"
            th:src="@{/js/test/test-page.js}"></script>
    <title>Title</title>
</head>

<div th:insert="navbar :: nav-placeholder"></div>
<body id="body" th:fragment="main-recommendation">
<br><br>
<div role="main" class="container">
    <div id="container">
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Название</span>
                    <input type="text" id="test-name" placeholder="Введите название теста">
                </div>


                <div class="input-box">
                    <span class="details">Заголовок</span>
                    <input type="text" id="test-title" placeholder="Введите заголовок теста">
                </div>

                <div class="input-box">
                    <span class="details">Описание</span>
                    <input type="text" id="description" placeholder="Введите описание теста">
                </div>


                <div class="input-box">
                    <span class="details">Изображение</span>
                    <input type="file" id="photo" accept="image/*">
                </div>

                <div id="container-user"></div>

                <!-- Кнопка для добавления вопроса -->
                <div class="button" onclick="addQuestion()">
                    <input type="button" value="Добавить вопрос">
                </div>
                <div class="button" onclick="saveTest()">
                    <input type="submit" value="Сохранить тест">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
