
.wrapper {
    position:fixed;
    bottom: 2%;
    right: 1%;
    z-index: 20;
    border-radius: 50%;
    padding: 10px;
    margin: 15px;
    width: 2%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #e1b3e5;
}

.wrapper .icon {
    margin: 50%;
    width: 60%;
    height: auto;
}



/*.navbar .button {*/
/*    margin-top: 5%;*/
/*    align-items: end;*/
/*}*/


.wrapper:hover {
    background-color: #a24fea;
    color: #ffffff;
}


#body {
    background: #ebecf4;
}

#container {
    margin-top: 1%;
    justify-content: space-between;
    align-items: start; /* Выравнивание элементов по центру по вертикали */
}

#buttons {
    display: flex;
    flex-wrap: wrap;
}
.hr-shadow {
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
    border: 0;
    height: 1px;
    margin: 22px 0 22px 0;box-sizing:
        content-box;
    display: block;
}


.button-group {
    margin: 1% 0%;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between; /* Распределение пространства между кнопками */
    align-items: center;
    -webkit-box-shadow: 0px 0px 21px -2px rgba(53, 158, 239, 0.24);
    -moz-box-shadow: 0px 0px 21px -2px rgba(53, 158, 239, 0.24);
    box-shadow: 0px 0px 21px -2px rgba(53, 158, 239, 0.24);
}

.button-group:hover {
    background-color: #a24fea;
}

#buttons .btn {
    margin: 1% 1%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    width: 15%;
    height: auto;
    font-family: 'Brightwell Medium', sans-serif;
    border: none;
    outline: none;
    background: #faf7f7;
    border-radius: 20px;
}
#buttons .btn:hover {
    background-color: #FF99CC;
}

.modal-content {
    border-radius: 20px;
    margin-left: 1%;
    -webkit-box-shadow: 0px 1px 13px -6px rgba(30, 41, 50, 0.6);
    -moz-box-shadow: 0px 1px 13px -6px rgba(30, 41, 50, 0.6);
    box-shadow: 0px 1px 13px -6px rgba(30, 41, 50, 0.6);
    position: relative;
}

#image-rec {
    border-radius: 10px;
    width: 100%; /* Установите ширину изображения в 100% от размеров родительского блока */
    height: auto; /* Автоматическое вычисление высоты для поддержки соотношения сторон */
    max-width: max-content; /* Максимальная ширина изображения, чтобы избежать растягивания на больших экранах */
    max-height: max-content; /* Максимальная высота изображения */
}

.modal {
    -webkit-box-shadow: 0px 1px 13px -6px rgba(30, 41, 50, 0.6);
    -moz-box-shadow: 0px 1px 13px -6px rgba(30, 41, 50, 0.6);
    box-shadow: 0px 1px 13px -6px rgba(30, 41, 50, 0.6);
}