<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:src="@{/css/wlogo.css}">
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"></script>
    <script type="text/javascript" src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <title>Title</title>
</head>


<nav class="navbar navbar-expand-xl navbar-dark bg-dark" aria-label="Sixth navbar example"
     th:fragment="nav-placeholder">
    <img th:src="@{/images/wlogo.svg}" id="logoID" alt="logo icon">
    <h2><span class="badge badge-info">WEB INFO</span></h2>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Expand at xl</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06"
                aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample06">
            <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
                <li class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img th:src="@{/images/database.svg}" id="database-icon" alt="database icon">
                        Data Base
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/school/peers">
                            <img th:src="@{/images/people-fill.svg}" alt="peoples icon">
                            Peers</a>
                        <a class="dropdown-item" href="/school/timetracking">
                            <img th:src="@{/images/clock-history.svg}" alt="timetracking icon">
                            Time Tracking</a>
                        <a class="dropdown-item" href="/school/friends">
                            <img th:src="@{/images/person-rolodex.svg}" alt="timetracking icon">
                            Friends</a>
                        <a class="dropdown-item" href="/school/recommendations">
                            <img th:src="@{/images/emoji-smile.svg}" alt="recommendation icon">
                            Recommendations</a>
                        <a class="dropdown-item" href="/school/transferredpoints">
                            <img th:src="@{/images/arrow-repeat.svg}" alt="transferredpoints icon">
                            Transferred Points</a>
                        <a class="dropdown-item" href="/school/checks">
                            <img th:src="@{/images/ui-checks.svg}" alt="checks icon">
                            Checks</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/school/test">
                        Тестирование
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/school/results">
                        Результаты
                    </a>
                </li>
                <li class="dropdown">
                    <span class="nav-link" id="dropdownLeft" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</span>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownLeft">
                        <a class="dropdown-item" href="/school/logout">Выход</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>