<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/wlogo.css">
    <link rel="stylesheet" type="text/css" href="/css/transferred-points/transferred-points.css">
    <script type="text/javascript" src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body id="body">
<div th:insert="navbar :: nav-placeholder"></div>
<br><br>
<div class="wrapper" data-toggle="modal" data-target="#exampleModalCentered">
    <img class="icon" th:src="@{/images/question-square.svg}" alt="item icon">
</div>
<div role="main" class="container">
    <div class="starter-template">
        <div id="container">
            <hr class="hr-shadow">
            <div id="buttons" th:each="trns:${transferredPoints}">
                <div class="button-group">
                    <button type="button" class="btn btn-outline-dark p-2"
                            id="checkingPeerButton">
                        <span th:text="${trns.checkingPeer}"></span>
                    </button>
                    <button type="button" class="btn btn-outline-dark p-2"
                            id="checkedPeerButton">
                        <span th:text="${trns.checkedPeer}"></span>
                    </button>
                    <button type="button" class="btn btn-outline-dark p-2"
                            id="pointAmountButton">
                        <span th:text="${trns.points}" ></span>
                    </button>
                </div>
            </div>
            <hr class="hr-shadow">
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredLabel">Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="icon" th:src="@{/images/transferpoint.svg}" alt="item icon" id="image-rec">
                <h4 class="card-title">Transfer Points</h4>
                <h6 class="card-subtitle mb-2 text-muted">Peer-to-peer</h6>
                <p class="card-text">
                    Each feast is checked by another feast, each check costs 1 point.
                    The table shows how many times one peer has checked the other.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>