<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/wlogo.css">
    <link rel="stylesheet" type="text/css" href="/css/recommendation-view/recommendations-view.css">
    <link rel="stylesheet" type="text/css" href="/css/recommendation-view/recommendation-checklist.css">
    <script type="text/javascript" src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/recommendation-checklist.js"
            th:src="@{/js/recommendation-checklist.js}"></script>
</head>

<div th:insert="navbar :: nav-placeholder"></div>

<body>

<div th:insert="/recommendations/view :: main-recommendation"></div>

<!-- Modal -->
<div class="modal" id="recommendedPeers" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredLabel">Recommendations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"  onclick="location.href='/school/recommendations'">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button th:each="r:${recommendedPeer}"  type="button" class="button btn-outline-dark p-2" id="userButton">
                    <img th:src="@{/images/person-circle.svg}" alt="person icon">
                    <span th:text="${r}"></span>
                    <a class="close" tabindex="0" role="button">close</a>
                </button>
            </div>
            <div class="modal-footer">
                <button  type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.href='/school/recommendations'">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <form th:action="@{/school/recommendations/addRecommendations}" method="put">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Add new Recommendations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Nickname:</label>
                        <input type="text" class="form-control" readonly id="peerConst" name="peer">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-form-label">Recommended Peer:</label>
                        <input type="text" class="form-control" id="peerAdding" name="recommendedPeer">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>